<a href="/">
<div class="head-info">
    <h1 class="text-dark">Snipper<span class="material-symbols-outlined text-info">content_cut</span></h1>
    <p class="text-secondary">URL Shortener</p>
</div>
</a>